<div class="col-10 offset- about">
<h1>About Splurty</h1>

<p>
	This Splurty website was built by <a target="_blank" href="http://github.com/KirstanFitzpatrick">Kirstan Fitzpatrick</a> a "seasoned" mom looking for a creative way to laugh about the joys of motherhood. 
</p>


<div class="row">
	<div class="col-12 col-sm-4">
		<%= image_tag 'me.jpg', class: 'img-fluid' %>
	</div>

	<div class="col-12 col-sm-7 offset-sm-1">
		<h2 class="text-center"></h2>
		<br />
		<p>Kirstan Fitzpatrick is an aspiring web developer and designer.  When she is not programming, she enjoys spending time with her family, reading a good suspense or science fiction novel, or watching a good comedy movie.  She is a mom to three beautiful little girls.
</p>
	</div>
</div>

</div>


<br class="clear" />
<br />
<br />
<br />
<br />